.col-vertical{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color:#fff;
}

.col-vertical-wrap{  
    overflow: hidden;   
} 

.main-container {
    border-style:solid;
    border-width:1px;
    border-color:gray;
    border-radius:5px;
}

.main-menu {
    background-color: #F0F0F0;
}

.main-header {
    text-align:right;
    background-color:#F0F0F0;
    border-radius:5px 5px 0px 0px;
}

.main-window {}
.main-window-options { 
    border-radius: 0px;
}

.main-window-viewer {}

.main-footer {
    text-align:right;
    background-color:#F0F0F0;
    border-radius:0px 0px 5px 5px;
}
