/* Header css */
.page-header {
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* TreeMap CSS classes */
#map_window {
    position:absolute;
}

.zoom_box {
    fill-opacity: .3; 
}

h4 {
    margin:0px 0px 0px 0px;
}