/*
Webpage CSS
*/
#main_page {
    position:relative;
}

#map_window {
}

/*
TreeViewer CSS stylesheets
*/
.link {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

circle {
	fill: #ccc;
	stroke: #333;
	stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

polygon {
    fill: none;
    stroke: #ccc;
}

#tree_svg {
    position:relative;
}

/*
CSS classes that handle zooming
*/
.overlay {
  fill: none;
  pointer-events: all;
}

/* 
TreeMap CSS classes
*/
#map_window {
    position:absolute;
}

.zoom_box {
    fill-opacity: .3; 
}